---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `

`;
---

<Layout title="Ithaca, NY Homes for Sale">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Ithaca, NY Homes for Sale</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">Work with a thoughtful professional. Contact <a href="https://ithacarealtor.com">Licensed Real Estate Broker Hans Soderquists</a>
    </p>
</Layout>
